:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal), sans-serif;
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}       

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1rem;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1rem;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.botao_secundario:hover {
    background-color: var(--cinza-secundario);
}

.container__aviso {
    font-size: 0.75rem;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;    
}

.container__imagem {
    margin: 1rem 0 2rem 0;
}

.container__caixa {
    margin: 0 6rem;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10rem;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 3rem;
    color: var(--branco-principal);
    margin-bottom: 0.1rem;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1rem;
}

.container__descricao {
    padding: 2rem;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5rem 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3rem;
    color: var(--branco-principal);
}
.lista__item {
    font-size: 2rem;
    color: var(--cinza-secundario);
}

.rodape {
    text-align: center;
    padding: 0 10rem;
}

.rodape__logo {
    margin: 2rem;
    
}

.rodape__lista {
    display: flex;  
    justify-content: center;  
    list-style-type: none;
}

.lista__link a{
    margin-left: 1rem;    
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 1rem;
}

.lista__link a:hover {
    color: var(--botao-azul)
}

.rodape__texto {
    margin: 1rem 0;
    font-size: 0.85rem;
    color: var(--cinza-secundario);
    
}

@media screen and (max-width: 480px) {

   .principal {
    grid-template-columns: 100% 0%;
    background-image: none;
    text-align: justify;
    height: 0;
    } 

   .container__caixa {
    text-align: center;
    display: inline-block;
    margin: 0rem 3rem 5rem 3rem;
   }

   .container__titulo {
    font-size: 1rem;
    margin: 1.75rem 0rem;
   }

   .container__imagem {
    width: 100%;
   }

   .container__botao {
    padding: 0.5rem;
    margin: 0rem 1.3rem;
    font-size: 0.8rem;
   }

   .container__aviso {
    font-size: 0.45rem;
   }

   .botao_secundario {
    margin: 0.5rem 1.3rem 0.2rem 1.3rem;
   }

    .rodape__lista {
    flex-direction: column;
   }

   .secundario {
    display: inline-block;
    flex-direction: column;
    margin: 26rem 2rem -31rem 2rem;
    text-align: center;    
   }

   .secundario__telas {
    margin-top: 0rem;
   }

   .secundario__notebook {
    margin-top: 5rem;
   }

   .secundario__imagem {
    width: 60%;
   }

   .descricao__titulo {
    font-size: 100%;
   }

   .dispositivos__titulo {
    font-size: 100%;
   }

   .dispositivos__lista {
    width: 100%;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
   }

   .dispositivos__icone {
    width: 50%;
   }
   .rodape {
    padding: 0 3rem;
   }

   .rodape__texto {
    font-size: 0.6rem;
   }

   .lista__link {
    padding: 0.3rem 0;
   }

   .lista__item {
    text-align: center;
    font-size: 1rem;
   }

   .descricao__texto {
    margin-bottom: 1.3rem;
   }

}